 .table {
    @apply w-full divide-y divide-gray-200 rounded-t overflow-hidden;
     table-layout: fixed; /*TODO: Only fix max width*/
}

.table thead {
    @apply bg-gray-100 hover:cursor-pointer;
}

.table th {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}

.table tbody {
    @apply  bg-white divide-y divide-gray-200;
}

.table td {
    @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table tbody tr {
    @apply hover:bg-gray-100;
}

.table tbody tr:hover button {
    @apply bg-gray-50;
}

.table tbody tr:hover button:hover {
    @apply bg-gray-200;
}